<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<html ng-app="tutorialCtrlModule">
    <head >
        
        
        <script src="lib/JS/angular.min.js" type="text/javascript"></script>
        <script src="lib/JS/jquery.min.js" type="text/javascript"></script>
        <script src="lib/JS/bootstrap.min.js" type="text/javascript"></script>
        <link href="lib/CSS/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script src="JS/controller/access1.js" type="text/javascript"></script>
        <script src="JS/controller/access1.js" type="text/javascript"></script>
        <script src="lib/JS/angular-route.min.js" type="text/javascript"></script>
            
            
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <title>START IT NOW</title>
            
    </head>-->


<!--    <body ng-controller="TutorialCtrl">-->
<hr>    
<h1>{{tutorialObject.title}}</h1>
<h2>{{tutorialObject.subtitle}}</h2>
<p>{{tutorialObject.bindOutput | currency: "&": "3"}}</p>
<button ng-click="doubleit()">Click to Double</button>

<p>Name: {{tutorialObject.firstName+" "+tutorialObject.secondName| uppercase}} </p>
<input type="text" ng-model="tutorialObject.firstName"> </br>                       <!--as per the angular documentation e"it is advisable to have a dot in the model therefore the scope values are determined using an object-->
<input type="text" ng-model="tutorialObject.secondName">


</br>

<a href="tutorial2.html">Move to Second Page</a>


<!--            
    </body>-->




